sudo: required
dist: trusty

language: node_js

matrix:
  include:
    - os: osx
    - os: linux

node_js:
  - 8
env:
  - ELECTRON_CACHE=$HOME/.electron

cache:
  directories:
    - $HOME/.electron
    - node_modules

addons:
  apt:
    packages:
      - icnsutils
      - graphicsmagick
      - libgnome-keyring-dev
      - xz-utils
      - xorriso
      - xvfb

install:
  - npm install
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start &
  - sleep 3

script:
  - npm run dist
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo hdiutil attach ./build-artifacts/ElectronAngularNativeApp.dmg; sudo cp -R /Volumes/ElectronAngularNativeApp/ElectronAngularNativeApp.app ./build-artifacts/ fi
  - npm run e2e
